@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  * {
    min-width: 0;
  }
  display: flex;
  aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: .5rem;
  }
  
  main {
    flex: 1 1 auto;
    padding: 1rem .5rem;
    overflow-y: auto;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  aside {
    flex: 0 0 320px;
  }
}

@media (max-width: 1024px) {
  aside {
    flex: 0 0 260px;
  }
}