.dor-title-container {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 5px;
  width: 100%;
  gap: 2rem;
  h2 {
    font-size: x-large;
  }
  small {
    margin-left: auto;
  }
}

.sidebar-routes {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1 1 auto;
  margin-top: .5rem;
  li {
    justify-self: flex-end;
    a {
      width: 100%;
      display: flex;
      gap: 1rem;
      padding: .5rem .25rem;
      border-radius: 5px;
    }
    &:last-child {
      margin-top: auto;
    }
  }
}